.draggableContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.draggableItem {
  flex: 0 0 33.3333333%;
}

.draggableOuterContainer {
  position: relative;

  .directionIndicators {
    position: absolute;
    width: 100%;
    top: 50%;
    pointer-events: none;

    svg.swipe-indicator {
      --icon-fill: var(--bs-primary-border-subtle);
      border: 1px solid var(--bs-primary-border-subtle);
      background-color: rgba(var(--bs-body-bg-rgb), 0.5);
      padding: 0.2em;
      height: 1.1em;
      width: 1.1em;
      border-radius: 4.8em;
    }
  }
}

html[data-bs-theme="dark"] {
  .draggableOuterContainer {
    position: relative;

    .directionIndicators {
      svg.swipe-indicator {
        --icon-fill: var(--bs-warning-border-subtle);
        border: 1px solid var(--bs-warning-border-subtle);
        background-color: rgba(var(--bs-body-bg-rgb), 0.5);
      }
    }
  }
}

@media (max-width: 992px) {
  .draggableContainer {
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    cursor: grab;
    user-select: none;

    &.dragging {
      cursor: grabbing;
    }
  }
  .draggableItem {
    flex: 0 0 48%;
  }
}

@media (max-width: 768px) {
  .draggableItem {
    flex: 0 0 95%;
  }
}
