@use "./variables" as v;

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info .icon-container {
  float: left;
  display: flex;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
}

.form-control {
  border-color: var(--bs-dark-border-subtle);
}

.form-control:focus {
  border-color: var(--bs-dark-border);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: v.$transition;
}

// input:invalid {
//   outline: 1px solid var(--bs-danger);
// }
