/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.home {
  background-image: url('../assets/lined_paper.webp');
  background-repeat: repeat;
  min-height: 100svh;
}

.hero-heading {
  color: var(--bs-primary);
}

html[data-bs-theme=dark] {
  .home {
    background-image: url('../assets/repeated-square-dark.webp');
  }

  .hero-heading {
  color: var(--bs-warning);
  }
}

.hero-buttons {
  .btn {
    width: 10em;
  }
}
